	@font-face{ font-family:'Montserrat'; src: url('../fonts/Montserrat.ttf'); }

	* { margin: 0 auto; padding: 0;font-family: "Montserrat", Arial, sans-serif; }
	body { -webkit-text-size-adjust: none; }

	a, label { -webkit-tap-highlight-color: transparent;text-decoration: none;cursor: pointer; }
	input[type=text], input[type=submit], textarea{ -webkit-appearance: none; } 


	main {position: relative;}

	